
<!DOCTYPE html>
<html lang='en'>

<head>
  <title>ENERGY STORAGE</title>

  <style> 
        body { 
             background-attachment:fixed;
             background-image:url('src/bg.jpg');}
           .container {
                     text-align: center;
                     font-size: 18px;
                     margin-top: 80px;
                     margin-left: 15px;
                     margin-right: 15px;
                     padding: 100px;
                     border-radius: 5px;
                     background-color: rgba(0,0,0,0.8);
                     padding: 50px 80px;
                     margin-top: 5%;
                     margin-left: 10%;
                     margin-right: 10%;
                     }     
          </style>


  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  
  <link rel="stylesheet" type="text/css" href="main.css">
  <link href='https://api.mapbox.com/mapbox-assembly/mbx/v0.18.0/assembly.min.css' rel='stylesheet'>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet' />

  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>

</head>
<body>
    
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css' type='text/css' />
     <div id='map' >
        <div class="topnav">
                <ul>
                  <li> <a href="{{ url_for('index') }}">Home</a> </li>
                  <li> <a href="{{ url_for('news') }}">News</a> </li>
                  <li> <a href="{{ url_for('contact') }}">Contact</a></li>
                  <li> <a  class="active" href="{{ url_for('about') }}">About</a></li>
                </ul> 
          </div>
        </div>    
     
        
        <div class="container">
      
                <h1 style="font-weight: 30;font-size: 55px; color:aliceblue;padding: 10% ">Abstract</h1>
          
                <p style="font-weight: 30;font-size: 25px;color:aliceblue; line-height:45px"> This is an ongoing project for Energy Storage Rights. 
                    It aims to create a platform that allows users to see the return of investment on 
                    potential sites for renewable energy technologies. The target users include small enterprises,
                     organizations, individuals. The implementation includes Data Mining, Machine Learning, 
                     and Web development. In summary, an applicable and portable website app which can evaluate 
                     and utilize the renewable energy for potential users is our client’s desired outcome
                      at the end of the project. </p>
                <h1 style="font-weight: 30;font-size: 55px; color:aliceblue;padding: 10% "> Background </h1>
                     
                <p style="font-weight: 30;font-size: 25px;color:aliceblue;line-height:45px ">There is an ongoing trend 
                    of renewable energy technologies to be further developed in Australia.
                     However, a platform which allows interaction between the technology developers and the potential user 
                     is absent. In 2017, coal still contributes 62% to Australian electricity generation.
                      Thus, the potential of our application is brimming with opportunity.</p>
                <h1 style="font-weight: 30;font-size: 55px; color:aliceblue;padding: 10% ">   Brief Introduction</h1>  
                  
                <p style="font-weight: 30;font-size: 25px;color:aliceblue;line-height:45px ">   Deployment of renewable energy 
                    technologies in a different location often comes with advantage and disadvantage. 
                    The energy storage rights is a digital platform that will map, evaluate, promote and help investments 
                    in the development rights for energy storage pilot projects such as pumped hydro energy storage, 
                    floating solar pilots on lake or sea. Alongside with the platform is the energy storage rights app. 
                    We strive to build up an application which used to evaluate and optimize the performance and potential of 
                    location viable for development of different renewable-energy technologies, this outcome will then be visualized 
                    to the target user.

                    </p>
                  
  
   </div>



</body>
     


<html>