<!DOCTYPE html>
<html lang='en'>

<head>
  <title>ENERGY STORAGE RIGHTS</title>


  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
  <link href='https://api.mapbox.com/mapbox-assembly/mbx/v0.18.0/assembly.min.css' rel='stylesheet'>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet' />

   <!-- side bar implement -->

   <style>
    .selectDraw
{ background-color: #ffffff;
top: 70px; 
left: 80px;
height: 64px;
width: 115px;
position: fixed;
}
.btn {
background-color: white;
height: 40px;
margin-left: -4px;
border-radius: 0px;
border: none;
padding: 5px 15px;
font-size: 14.5px;
cursor: pointer;
display: inline-block;

}

.btn:hover {background:lightgray;}

.success {color: green;}
.success .tooltiptext {
top:45px;
left: -50px;
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0px;
/* Position the tooltip */
position:absolute;
z-index: 1;
}
.success:hover .tooltiptext {
visibility: visible;
}

.info {color: dodgerblue;}
.info .tooltiptext {
top:45px;
left: -10px;
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
/* Position the tooltip */
position: absolute;
z-index: 1;
}
.info:hover .tooltiptext {
visibility: visible;
}
.warning {color: red;}
.warning .tooltiptext {
top:45px;
left: 30px;
visibility: hidden;
width: 120px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;
/* Position the tooltip */
position: absolute;
z-index: 1;
}
.warning:hover .tooltiptext {
visibility: visible;
}
.box {
position: absolute;
left:30px; 
top:90px;
}

.box select {
background-color: #0563af;
color: white;
padding: 12px;
width: 250px;
border: none;
font-size: 20px;
box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
-webkit-appearance: button;
appearance: button;
outline: none;
}

.box::before {
content: ">";
font-family: cursive;
position: absolute;
top: 0;
right: 0;
width: 20%;
height: 100%;
text-align: center;
font-size: 28px;
line-height: 45px;
color: rgba(255, 255, 255, 0.5);
background-color: rgba(255, 255, 255, 0.1);
pointer-events: none;
}

.box:hover::before {
color: rgba(255, 255, 255, 0.6);
background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
padding: 30px;
}
.topnav {
  font-family: Arial, Helvetica, sans-serif; 
  overflow: hidden;
  background-color: #333;
  font-size:20px;
  margin-top: 120px;
  right:10px;
  height: 60px;
  width:110vw ;
  position: fixed;
  z-index: 1;
  top: -130px;
  margin-right: -11vw;
  padding: 10px;
  }
  .topnav ul{
  list-style-type: none;}
  
  
  .topnav a {
  text-decoration: none;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 35px;
  font-size: 30px;
  }
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }
  .topnav a.active {
  background-color: #4CAF50;
  color: white;
  }
  
html, body, #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }  

.sidenav {
  font-family: "Lato", sans-serif;
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  font-family: "Lato", sans-serif;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

 .sbutton {
    width: 303px;
    border-radius:5px;
    background-color:rgb(125, 186, 214);
    padding-top:-50px;
    margin-left:40px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    list-style-type: none;
  }

  .sbutton a {
    text-decoration: none;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 20px 35px;
    font-size: 20px;
  }

  .sbutton a:hover {
    background-color: rgb(39, 129, 165);
    color: rgb(255, 255, 255);
  }

  .sbutton a.active {
    background-color: rgb(18, 144, 194);
    color: white;

  }
  
  table { 
    background: ivory;
  border-collapse: collapse;
  width: 300px;
}
  table, td, th {
  border: 1px solid black;
}

.sbutton {
    display: inline;
    width:120px;
    border-radius:5px;
    background-color:rgb(125, 186, 214);
    padding-top:0px;
    margin-left:10px;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    list-style-type: none;
  }
  .sbutton a {
    background-color: rgb(81, 174, 211);
    text-decoration: none;
    margin-left:40px;
    color: #ffffff;
    text-align: center;
    padding: 10px 15px;
    font-size: 15px;
  }
  .sbutton a:hover {
    background-color: rgb(39, 129, 165);
    color: rgb(255, 255, 255);
  }
  .sbutton a.active {
    background-color: rgb(18, 144, 194);
    color: white;
  }
   </style>

<!-- <link rel="stylesheet" href="https://js.arcgis.com/4.11/esri/css/main.css">
<link rel="stylesheet" type="text/css" href="main.css">
<script src="https://esrau.maps.arcgis.com/apps/Embed/index.html?webmap=b90567202ab649729c1b60e900f33048&extent=18.4297,-65.9323,180,18.6791&zoom=true&previewImage=false&scale=true&disable_scroll=true&theme=light"></script> -->
<link rel="stylesheet" href="https://js.arcgis.com/4.11/esri/css/main.css">
<!-- <link rel="stylesheet" type="text/css" href="main.css"> -->
<script src="https://js.arcgis.com/4.11/"></script>

<script>
    drawselection=0;
    polygonlist=[];
    var lastpoint;
    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/widgets/Search",
      "esri/layers/VectorTileLayer",
      "esri/layers/GraphicsLayer",
      "esri/layers/FeatureLayer",
      "esri/layers/TileLayer",
      "esri/layers/WMTSLayer",
      "esri/layers/WMSLayer",
      "esri/Graphic",
      "esri/geometry/Point",
      "esri/symbols/SimpleMarkerSymbol",
      "esri/geometry/Polyline",
      "esri/symbols/SimpleLineSymbol",
      "esri/geometry/Polygon",
      "esri/symbols/SimpleFillSymbol",
      "esri/widgets/Legend"


    ], function(Map, MapView, Search, VectorTileLayer, GraphicsLayer, FeatureLayer, TileLayer, WMTSLayer, WMSLayer,
    Graphic, Point, SimpleMarkerSymbol,Polyline, SimpleLineSymbol,Polygon, SimpleFillSymbol,Legend) {
      const base_layer = new GraphicsLayer();
      // 0 no selection,1 point selection, 2 polygon
      map = new Map({
        basemap: "topo-vector"
      });
      map.add(base_layer);

      map.basemap="streets";
      wind_layer = new TileLayer({
          url: "https://tiles.arcgis.com/tiles/Lhhlijt6OxVvJhC4/arcgis/rest/services/Wind_tile/MapServer"
      });
      

      map.add(wind_layer);
      wind_layer.visible = false;
      wind_layer.opacity=0.5;

      solar_layer = new TileLayer({
          url: "https://tiles.arcgis.com/tiles/Lhhlijt6OxVvJhC4/arcgis/rest/services/Map/MapServer"
      });

      map.add(solar_layer);
      solar_layer.visible = false;
      solar_layer.opacity=0.5;



      water_layer = new WMTSLayer({
        url: "https://storage.googleapis.com/global-surface-water/downloads_ancillary/WMTS_Global_Surface_Water.xml"
      });
      map.add(water_layer);
      water_layer.visible = false;
      water_layer.opacity=0.5;



      energy_layer = new WMSLayer({
        url: "http://services.ga.gov.au/gis/services/Proximity_To_Transmission_Infrastructure_Lines_WM/MapServer/WMSServer"
        // sublayers: [{
        //   name: // name of the sublayer,
        //   legendUrl: // url to the legend
        // }]
      });
      map.add(energy_layer);
      energy_layer.visible = false;
      energy_layer.opacity=0.5;




      hydro_layer = new WMSLayer({
        url: "https://gis.aremi.data61.io/anu/wms"
      });
      map.add(hydro_layer);
      hydro_layer.visible = false;
      hydro_layer.opacity=0.5;
      view = new MapView({
        container: "viewDiv",
        map: map,
        center: [147.71511,-36.09042],
        zoom: 3
      });
      
      var search = new Search({
      view: view
      });
      view.constraints.minZoom=3;
      var coordsWidget = document.createElement("div");
      coordsWidget.id = "coordsWidget";
      coordsWidget.className = "esri-widget esri-component";
      coordsWidget.style.padding = "7px 15px 5px";

      view.ui.add(coordsWidget, "bottom-right");

      view.ui.add(search, "top-left");
      view.on("double-click",function(evt){
        drawpolygon();
        update_value();
        drawselection=0;
        if (show_mode==2){
        area_value=calculatepolygonarea(polygonlist);
        document.getElementById("area_a").value=area_value;
        }
        showPopup_polygon(get_polygon_centroid(polygonlist));
      })

      view.on("pointer-move", function(evt) {
        if (drawselection==2){
          drawline(view.toMap({ x: evt.x, y: evt.y }));
          drawpartialpolygon();
      }
      });

      view.on("click", function(evt){
      search.clear();
      view.popup.clear();
      if (drawselection==2){
        
        lastpoint=[evt.mapPoint.longitude,evt.mapPoint.latitude];
        polygonlist.push([evt.mapPoint.longitude,evt.mapPoint.latitude])
        }
      if (drawselection==1){
        drawPoint(evt.mapPoint);
        
      }
      // if (search.activeSource) {
      //   var geocoder = search.activeSource.locator; // World geocode service
      //   geocoder.locationToAddress(evt.mapPoint)
      //     .then(function(response) { // Show the address found
            
      //       var address = response.address;
      //       drawPoint(address, evt.mapPoint);
            
      //       // drawline(address, evt.mapPoint);
      //       // drawPoint(address, evt.mapPoint);
      //     }, function(err) { // Show no address found
      //       showPopup("No address found.", evt.mapPoint);
      //     });
      // }
    });

    
      
    //   sketch.on("create", function(event) {
    //   if (event.state === "complete") {

    //     console.log(event.mapPoint.longitude);


    //   }
    // });
    function drawpartialpolygon(){
      for (i = 0; i < polygonlist.length-1; i++) { 
        var polyline = new Polyline({
         paths: [
            polygonlist[i],
            polygonlist[i+1]
         ]
       });

       // Create a symbol for drawing the line
       var lineSymbol = new SimpleLineSymbol({
         color: [226, 119, 40],
         width: 1
       });

       // Create a line graphic
       var polylineGraphic = new Graphic({
         geometry: polyline,
         symbol: lineSymbol
       })

       // Add the graphic to the view
       view.graphics.add(polylineGraphic);
        }
      
    }
    function ConvertToRadian(input)
    {
        return input * Math.PI / 180;
    }
    function calculatepolygonarea(coordinates){
      var area;
      area=0;
      if (coordinates.length > 2)
      {
          for (var i = 0; i < coordinates.length - 1; i++)
          {   
            var p1;
            var p2;
              p1 = coordinates[i];
              p2 = coordinates[i + 1];
              area += ConvertToRadian(p2[0]- p1[0]) * (2 
              +  Math.sin(ConvertToRadian(p1[1])) 
              +Math.sin(ConvertToRadian(p2[1])));
          }

          area = area * 6378137 * 6378137 / 2;
      }
      return Math.abs(area);
    }
    function get_polygon_centroid(pts) {
      if (pts.length>0){
      var first = pts[0], last = pts[pts.length-1];
      if (first[0] != last[0] || first[1] != last[1]) pts.push(first);
      var twicearea=0,
      x=0, y=0,
      nPts = pts.length,
      p1, p2, f;
      for ( var i=0, j=nPts-1 ; i<nPts ; j=i++ ) {
          p1 = pts[i]; p2 = pts[j];
          f = (p1[1] - first[1]) * (p2[0] - first[0]) - (p2[1] - first[1]) * (p1[0] - first[0]);
          twicearea += f;
          x += (p1[0] + p2[0] - 2 * first[0]) * f;
          y += (p1[1] + p2[1] - 2 * first[1]) * f;
      }
      f = twicearea * 3;
      return [x/f + first[0], y/f + first[1]]
      }
    }
    function drawpolygon(){
      view.graphics.removeAll();
      var polygon = new Polygon({
        rings: polygonlist
      });
      
      // Create a symbol for rendering the graphic
      var fillSymbol = new SimpleFillSymbol({
        color: [227, 139, 79, 0.8],
        outline: {
          color: [255, 255, 255],
          width: 1
        }
      });

      // Add the geometry and symbol to a new graphic
      var polygonGraphic = new Graphic({
        geometry: polygon,
        symbol: fillSymbol
      });

      // Add the graphic to the view
      view.graphics.add(polygonGraphic);
    }
    function drawline(pt){
      view.graphics.removeAll();
      if (lastpoint==null) {
        
      } else{
        var polyline = new Polyline({
         paths: [
            lastpoint,
           [pt.longitude,pt.latitude]
         ]
       });

       // Create a symbol for drawing the line
       var lineSymbol = new SimpleLineSymbol({
         color: [226, 119, 40],
         width: 1
       });

       // Create a line graphic
       var polylineGraphic = new Graphic({
         geometry: polyline,
         symbol: lineSymbol
       })

       // Add the graphic to the view
       view.graphics.add(polylineGraphic);
       
       }
      
      
    }
    function drawPoint(pt){
      view.graphics.removeAll();
      var point = new Point({
        longitude: pt.longitude,
        latitude: pt.latitude
      });

      // Create a symbol for drawing the point
      var markerSymbol = new SimpleMarkerSymbol({
        color: [226, 119, 40],
        outline: {
          color: [255, 255, 255],
          width: 1
        }
      });

      // Create a graphic and add the geometry and symbol to it
      var pointGraphic = new Graphic({
        geometry: point,
        symbol: markerSymbol
      });

      // Add the graphic to the view
      view.graphics.add(pointGraphic);
      
      update_value();
      showPopup_point(pt);
      lastpt=pt;
    }

    efficiency = 100;
    area_value = 1;
    poe = 0.3441;
    year=5;
    cost_value = 45.74;
    solar_e = 0;
    wind_e = 0;
    show_mode = 1;
    //1:wind , 2:solar
    panel_capacity=150;
    // 150 200 selection TBD
    number_of_wind_turbine=1;
    //horizontal pi r^2
    radius_of_wind_turbine=25;
    equipment_cost=0;
// equipment cost 40,000 +45.74*area
// 8= 10kw wind turbine cost 500000, radius=22.5
    lastpt=null;
    calculationpoint=null;
    function showPopup_point(pt) {
        if (document.getElementById("cost_c").value==""){document.getElementById("cost_c").value=45.74; cost_value=45.74}
        if (document.getElementById("cost_c").value==""){document.getElementById("cost_c").value=panel_capacity*0.4;
      cost_value=panel_capacity*0.4;}
      calculationpoint=pt;
    fetch('/calculate_wind_power_density', {
    // Specify the method
    method: 'POST',
    
    // A JSON payload
    body: JSON.stringify({
        "lon": pt.longitude,
        "lat": pt.latitude,
        "ef" : efficiency,
        "area" : area_value,
    }),
    headers: { 'Content-type': 'application/json' }
    }).then(function (response) {
        return response.text();
    }).then(function (text) {
      wind_e = parseFloat(text.split("Wh")[0].slice(6));
      solar_e = parseFloat(text.split("Solar: ")[1].split("kWh")[0])
      view.popup.open({
        title:  "Latitude: "+ Math.round(pt.latitude * 100000)/100000 + ", Longitude" + Math.round(pt.longitude * 100000)/100000,
        content: "Solar: "+solar_e +" Kwh for "+area_value+" M^2 Wind:"+wind_e+" W/M^2 for "+number_of_wind_turbine+" wind turbine size of "+(Math.PI*radius_of_wind_turbine*radius_of_wind_turbine)+" M^2",
        location: pt
        });
      if (show_mode ==1 ){
          document.getElementById("energy_show").innerHTML = "Annual wind energy output: " + (wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 /1000).toFixed(4)+ " KWh";
          document.getElementById("Annual_profit").innerHTML = "Annual profit: " + (wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000).toFixed(4)+ " AUD";
          document.getElementById("Net_profit").innerHTML = "Net profit: " + (((wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000-71.11*area_value))*year-Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value-(equipment_cost*number_of_wind_turbine)).toFixed(4)+ " AUD";
          document.getElementById("ROI").innerHTML = "ROI: " + ((((wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000-71.11*area_value))*year-Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value-(equipment_cost*number_of_wind_turbine))*100/(Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value+(equipment_cost*number_of_wind_turbine))).toFixed(4)+ "%";
        }else{
          document.getElementById("energy_show").innerHTML = "Annual Solar energy output: " + (solar_e  * 365*panel_capacity/1000).toFixed(4)+ " Kwh";
          document.getElementById("Annual_profit").innerHTML = "Annual profit: " + (solar_e* 365*panel_capacity*poe/1000).toFixed(4)+ " AUD";
          document.getElementById("Net_profit").innerHTML = "Net profit: " + ((solar_e* 365*panel_capacity*poe/1000-8*area_value)*year-0.4*panel_capacity*area_value).toFixed(4)+ " AUD";
          document.getElementById("ROI").innerHTML = "ROI: " + (((solar_e* 365*panel_capacity*poe/1000-8*area_value)*year-0.4*panel_capacity*area_value)*100/(0.4*panel_capacity*area_value)).toFixed(4)+ "%";
        }
    });
  }
    
    function update_value(){
      if (show_mode==1){
        cost_value=document.getElementById("cost_c").value;
          poe=document.getElementById("poe_e").value;
          year=document.getElementById("year_y").value;
          efficiency=document.getElementById("effi").value;
          radius_of_wind_turbine=document.getElementById("rad_r").value;
          number_of_wind_turbine=document.getElementById("num_wind_turbine").value;
      } else{
        cost_value=document.getElementById("cost_c").value;
          area_value=document.getElementById("area_a").value;
          poe=document.getElementById("poe_e").value;
          year=document.getElementById("year_y").value;
          efficiency=document.getElementById("effi").value;
          panel_capacity=document.getElementById("sp_ca").value;
      }
          
          // TBD panel capacity
    }
    function showPopup_polygon(pt) {
        if (document.getElementById("cost_c").value==""){document.getElementById("cost_c").value=45.74; cost_value=45.74}
        if (document.getElementById("cost_c").value==""){document.getElementById("cost_c").value=panel_capacity*0.4;
      cost_value=panel_capacity*0.4;}
    calculationpoint=pt;
    temp="";
    fetch('/calculate_wind_power_density', {
    // Specify the method
    method: 'POST',

    // A JSON payload
    body: JSON.stringify({
        "lon": pt[0],
        "lat": pt[1],
        "ef" : efficiency,
        "area" : area_value,
    }),
    headers: { 'Content-type': 'application/json' }
    }).then(function (response) {
        return response.text();
    }).then(function (text) {
      wind_e = parseFloat(text.split("Wh")[0].slice(6));
      solar_e = parseFloat(text.split("Solar: ")[1].split("kWh")[0])
      view.popup.open({
        title:  "Latitude: "+ Math.round(pt[1] * 100000)/100000 + ", Longitude" + Math.round(pt[0] * 100000)/100000,
        content: "Solar: "+solar_e +" Kwh for "+area_value+" M^2 Wind:"+wind_e+" W/M^2 for "+number_of_wind_turbine+" wind turbine size of "+(Math.PI*radius_of_wind_turbine*radius_of_wind_turbine)+" M^2",
        location: pt
        });
      if (show_mode ==1 ){
          document.getElementById("energy_show").innerHTML = "Annual wind energy output: " + (wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 /1000).toFixed(4)+ " KWh";
          document.getElementById("Annual_profit").innerHTML = "Annual profit: " + (wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000).toFixed(4)+ " AUD";
          document.getElementById("Net_profit").innerHTML = "Net profit: " + (((wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000-71.11*area_value))*year-Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value-(equipment_cost*number_of_wind_turbine)).toFixed(4)+ " AUD";
          document.getElementById("ROI").innerHTML = "ROI: " + ((((wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000-71.11*area_value))*year-Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value-(equipment_cost*number_of_wind_turbine))*100/(Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value+(equipment_cost*number_of_wind_turbine))).toFixed(4)+ "%";
        }else{
          document.getElementById("energy_show").innerHTML = "Annual Solar energy output: " + (solar_e  * 365*panel_capacity/1000).toFixed(4)+ " Kwh";
          document.getElementById("Annual_profit").innerHTML = "Annual profit: " + (solar_e* 365*panel_capacity*poe/1000).toFixed(4)+ " AUD";
          document.getElementById("Net_profit").innerHTML = "Net profit: " + ((solar_e* 365*panel_capacity*poe/1000-8*area_value)*year-0.4*panel_capacity*area_value).toFixed(4)+ " AUD";
          document.getElementById("ROI").innerHTML = "ROI: " + (((solar_e* 365*panel_capacity*poe/1000-8*area_value)*year-0.4*panel_capacity*area_value)*100/(0.4*panel_capacity*area_value)).toFixed(4)+ "%";
        }
    });
  } 

  
    })




  </script>
</head>
<body>
   
  <div class="topnav" style="padding: 2px 0px;">
    <ul>
      <li> <a class="active" href="{{ url_for('index') }}">Home</a> </li>
      <li> <a href="{{ url_for('news') }}">Help</a> </li>
      <li> <a href="{{ url_for('contact') }}">Contact</a></li>
      <li> <a href="{{ url_for('about') }}">About</a></li>
    </ul>
  </div>
  <div style="height:50px;"></div>
      <div id="viewDiv"> </div>
      <div class="selectDraw">
          <h1 style="margin-left:-3px;background-color:#ffffff;width:108px;text-align: center"><b>Select Area</b></h1>
          <button class="btn success" onclick="changetopoint()">&#8226<span class="tooltiptext">Single Point Data Select</span></button>
          <button class="btn info" onclick="changetopolygon()">&#9826;<span class="tooltiptext">Polygon Regional Data Select (double click to finish)</span></button>
          <button class="btn warning" onclick="changetonan()">&#10008<span class="tooltiptext">Remove Selection</span></button>
          </div>
  
      <span style="font-size:20px;cursor:pointer;margin-top: 120px;
      right:10px;
      height: 50px;
      width: 120px;
      position: fixed;
      z-index: 1;
      top: -40px;
      border-radius:10px;
      background-color:rgba(255, 255, 255, 0.9);
      padding: 10px;" onclick="openNav()">&#9776; open</span></div>
  
      <div id="mySidenav" class="sidenav">
  
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  
        <h1 style="font-size:25px; font-weight: bolder; color: lightblue; text-align: center;">Change Base Map</h1>
        <br>
        <div class="box" >
            <select id="select_map" onclick="change_base_map()">
            <option value="topo-vector">Topographic Map</option>
            <option value="satellite">World Imagery map</option>
            <option value="streets"> World Street Map</option>
            <option value="streets-night-vector"> World Street Map (Night) </option>
            
            </select>
        </div>
            
  
  
        <br><br>
  
       
        <div style="color:rgb(255, 255, 255);background-color:rgba(11, 158, 238, 0.596);">
          
          
  
          <form action="" method="get;" style="padding:10px; font-size:15px;">
              <h3 style="font-size:20px; font-weight: bolder; color: lightblue; text-align: center;">CHOOSE ENERGY</h3>
            <div style="display: inline">
                <label onclick="change_to_solar()"><input style="margin:10px;" name="e" type="checkbox" id="solar_button" value="" />SOLAR </label> 
                <label onclick="change_to_wind()"><input style="margin:10px;"name="e" type="checkbox" id="wind_button" value="" />WIND </label> 
                <label onclick="change_to_water()"><input style="margin:10px;"  name="e" type="checkbox" id="water_button" value="" />WATER</label> <br />
           </div>    
                <label onclick="change_to_energy()"><input style="margin:10px;"  name="e" type="checkbox" id="energy_button" value="" />Energy Grid</label> 
                <label onclick="change_to_hydro()"><input style="margin:10px;"  name="e" type="checkbox" id="hydro_button" value="" />Hydro</label> <br />
  
            </form>
        </div>

      <br><br>
      <div style="background:#c7c7c7;padding-bottom: 45px;padding-left:20px " id = "calculate_energy">
        <p style="background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px"> Efficiency: <input type="text" style="margin-top:20px; width:35px;height:25px;"id="effi" wrap="soft" value="100"></input>% </p > 
        <p style="background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px "> Radius : <input type="text" style="margin-top:20px; width:70px;height:25px;"id="rad_r" wrap="soft" value="1"></input>m </p >
        <p style="background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px "> Number of wind turbine : <input type="text" style="margin-top:20px; width:40px;height:25px;" id="num_wind_turbine" wrap="soft" value="1"></input></p >
        <p style="background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px "> Cost: <input type="text" style="margin-top:20px; width:120px;height:25px;" id="cost_c" wrap="soft" value="45.74"></input>$ </p >
        <p style="background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px "> Price of energy : <input type="text" style="margin-top:20px; width:40px;height:25px;" id="poe_e" wrap="soft" value="0.3441"></input>US$/kWh </p >
        <p style="background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px "> Year of investment : <input type="text" style="margin-top:20px; width:30px;height:25px;" id="year_y" wrap="soft" value = "5"></input> </p >
        </div>
      
          <div style="width:80px;overflow:hidden;background:#e7e7e7;padding:8px;margin-top:-50px;margin-left:100px;border-radius: 5px;">
          <button id="myBtn" value="myvalue" onclick="getNum()">Calculate</button>
          </div>
          <div class="option" style=" background-color:rgba(201, 225, 238);height:100px;margin-top:10px;margin-bottom:20px;
          width:303px;padding-left:10px;text-align: center;padding:5px 5px;">
          

      <div class="sbutton" >
          <ul>
            <li> <a class="active" tag="#wind" onclick="toWindMode()" id="wind_m">Wind</a> </li>
            <li> <a tag="#solar " class="" onclick="toSolarMode()" id="solar_m">Solar</a> </li>
          </ul>

      </div>
    </div>

    <div >
        <p id="energy_show" style="background:#c7c7c7 ;font-weight:30;font-size: 20px; color:#818181;padding: 35px;margin-left:-20px;margin-top: -20px ">Annual Wind output
    </div>

    <div >
        <p id="Annual_profit"style="background:#a1a1a1 ;font-weight:30;font-size: 20px; color:#dfdbdb;padding: 35px;margin-left:-20px;margin-top: -5px ">
            Annual profit
    </div>
    <div >
        <p  id="Net_profit" style="background:#a1a1a1 ;font-weight:30;font-size: 20px; color:#dfdbdb;padding: 35px;margin-left:-20px;margin-top: -5px ">
            Net profit
    </div>
    <div >
        <p  id="ROI" style="background:#a1a1a1 ;font-weight:30;font-size: 20px; color:#dfdbdb;padding: 35px;margin-left:-20px;margin-top: -5px ">
            ROI
    </div>
    </div>
    
  </div>

  

  

     

      <script>
    function changetopoint(){
      console.log("C")
      if (drawselection!=1){
      drawselection=1;
      clearall();
      reset_fields();
      }
    }
    function changetopolygon(){
      console.log("B")
      console.log(drawselection)
      if (drawselection!=2){
      drawselection=2;
      clearall();
      reset_fields();
      }
    }
    function changetonan(){
      console.log("A")
      if (drawselection!=0){
      drawselection=0;
      clearall();
      reset_fields();
      }
    }
    function reset_fields(){
      
      efficiency = 100;
      area_value = 1;
      poe = 0.3441;
      year=5;
      cost_value = 45.74;
      solar_e = 0;
      wind_e = 0;
      show_mode = 1;
      //1:wind , 2:solar
      panel_capacity=150;
      // 150 200 selection TBD
      number_of_wind_turbine=1;
      //horizontal pi r^2
      radius_of_wind_turbine=25;
      equipment_cost=0;
      // change type call reset
      
      if (show_mode ==1 ){
          solar_e=0;
          wind_e=0;
          panel_capacity=150;
          document.getElementById("cost_c").value=45.74;
          cost_value=document.getElementById("cost_c").value;
          document.getElementById("poe_e").value=0.3441;
          poe=0.3441
          document.getElementById("year_y").value=5;
          year=5;
          document.getElementById("effi").value=100;
          efficiency=100;
          document.getElementById("rad_r").value=25;
          radius_of_wind_turbine=25;
          document.getElementById("num_wind_turbine").value=1;
          number_of_wind_turbine=100;
        // TBD panel capacity
          document.getElementById("energy_show").innerHTML = "Annual Solar energy output: ";
          document.getElementById("Annual_profit").innerHTML = "Annual profit: " ;
          document.getElementById("Net_profit").innerHTML = "Net profit: ";
          document.getElementById("ROI").innerHTML = "ROI: " ;
          
        }else{
          solar_e=0;
          wind_e=0;
          document.getElementById("cost_c").value=0.4*panel_capacity;
          cost_value=document.getElementById("cost_c").value;
          document.getElementById("area_a").value=1;
          area_value=1;
          document.getElementById("poe_e").value=0.3441;
          poe=0.3441
          document.getElementById("year_y").value=5;
          year=5;
          document.getElementById("effi").value=100;
          efficiency=100;
          document.getElementById("sp_ca").value=150;
          panel_capacity=150;
        // TBD panel capacity
          panel_capacity=150;
          document.getElementById("energy_show").innerHTML = "Annual Solar energy output: ";
          document.getElementById("Annual_profit").innerHTML = "Annual profit: " ;
          document.getElementById("Net_profit").innerHTML = "Net profit: ";
          document.getElementById("ROI").innerHTML = "ROI: " ;
    }
  }
    function clearall(){
      lastpoint=null;
      polygonlist=[];
      view.graphics.removeAll();
      view.popup.close();
    }
      function change_base_map(){
        var x = document.getElementById("select_map").value;
        map.basemap = x;
      }

      
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }
      function toSolarMode(){
        
        show_mode = 2;
        document.getElementById("wind_m").style = "background-color: rgb(81, 174, 211);"
        document.getElementById("solar_m").style = "background-color: darkblue;"

        document.getElementById("calculate_energy").innerHTML = "";
        
        var input0 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px\"> Solar Panel Capacity: <select style=\"margin-top:20px; width:75px;height:25px;\"id=\"sp_ca\" wrap=\"soft\"><option value =\"150\">150kw</option> <option value =\"200\">200kw</option></select></p>"
        var input1 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px\"> Efficiency: <input type=\"text\" style=\"margin-top:20px; width:35px;height:25px;\"id=\"effi\" wrap=\"soft\" value=\"100\"></input>% </p > "
        var input2 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px \"> Area : <input type=\"text\" style=\"margin-top:20px; width:70px;height:25px;\"id=\"area_a\" wrap=\"soft\" value=\"1\"></input>m^2 </p >"
        var input3 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px \"> Cost: <input type=\"text\" style=\"margin-top:20px; width:120px;height:25px;\" id=\"cost_c\" wrap=\"soft\" value=\"60\"></input>$</p >"
        var input4 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px \"> Price of energy : <input type=\"text\" style=\"margin-top:20px; width:40px;height:25px;\" id=\"poe_e\" wrap=\"soft\" value=\"0.3441\"></input>US$/kWh </p >"
        var input5 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px \"> Year of investment : <input type=\"text\" style=\"margin-top:20px; width:30px;height:25px;\" id=\"year_y\" wrap=\"soft\" value = \"5\"></input> </p >"
        var inputs = input0 + input1 + input2 + input3 + input4 + input5
        document.getElementById("calculate_energy").innerHTML = inputs
        if (document.getElementById("cost_c").value==""){document.getElementById("cost_c").value=panel_capacity*0.4;
      cost_value=panel_capacity*0.4;}
        
        show_mode = 2;
          
          document.getElementById("energy_show").innerHTML = "Annual Solar energy output: " + (solar_e  * 365*panel_capacity/1000).toFixed(4)+ " Kwh";
          document.getElementById("Annual_profit").innerHTML = "Annual profit: " + (solar_e* 365*panel_capacity*poe/1000).toFixed(4)+ " AUD";
          document.getElementById("Net_profit").innerHTML = "Net profit: " + ((solar_e* 365*panel_capacity*poe/1000-8*area_value)*year-0.4*panel_capacity*area_value).toFixed(4)+ " AUD";
          document.getElementById("ROI").innerHTML = "ROI: " + (((solar_e* 365*panel_capacity*poe/1000-8*area_value)*year-0.4*panel_capacity*area_value)*100/(0.4*panel_capacity*area_value)).toFixed(4)+ "%";
        
      }

      function toWindMode(){
        
        show_mode = 1;
        document.getElementById("wind_m").style = "background-color: darkblue;"
        document.getElementById("solar_m").style = "background-color: rgb(81, 174, 211);"

        document.getElementById("calculate_energy").innerHTML = "";
        

        var input1 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px\"> Efficiency: <input type=\"text\" style=\"margin-top:20px; width:35px;height:25px;\"id=\"effi\" wrap=\"soft\" value=\"100\"></input>% </p > "
        var input2 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px \"> Radius : <input type=\"text\" style=\"margin-top:20px; width:70px;height:25px;\"id=\"rad_r\" wrap=\"soft\" value=\"25\"></input>m </p >"
        var input3 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px \"> Number of wind turbine : <input type=\"text\" style=\"margin-top:20px; width:40px;height:25px;\" id=\"num_wind_turbine\" wrap=\"soft\" value=\"1\"></input></p >"
        var input4 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px \"> Cost: <input type=\"text\" style=\"margin-top:20px; width:120px;height:25px;\" id=\"cost_c\" wrap=\"soft\" value=\"45.74\"></input>$ </p >"
        var input5 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px \"> Price of energy : <input type=\"text\" style=\"margin-top:20px; width:40px;height:25px;\" id=\"poe_e\" wrap=\"soft\" value=\"0.3441\"></input>US$/kWh </p >"
        var input6 = "<p style=\"background:#c7c7c7 ;font-weight:10;font-size:16px; color:#818181;padding:15px;padding-left:30px;margin-left:-20px;margin-top: -48px \"> Year of investment : <input type=\"text\" style=\"margin-top:20px; width:30px;height:25px;\" id=\"year_y\" wrap=\"soft\" value = \"5\"></input> </p >"
        var inputs = input1 + input2 + input3 + input4 + input5 + input6
        document.getElementById("calculate_energy").innerHTML = inputs;
        if (document.getElementById("cost_c").value=="")if (document.getElementById("cost_c").value==""){document.getElementById("cost_c").value=45.74; cost_value=45.74}
        if (document.getElementById("cost_c").value==""){document.getElementById("cost_c").value=panel_capacity*0.4;
      cost_value=panel_capacity*0.4;}
        
        document.getElementById("energy_show").innerHTML = "Annual wind energy output: " + (wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 /1000).toFixed(4)+ " KWh";
        document.getElementById("Annual_profit").innerHTML = "Annual profit: " + (wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000).toFixed(4)+ " AUD";
        document.getElementById("Net_profit").innerHTML = "Net profit: " + (((wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000-71.11*area_value))*year-Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value-(equipment_cost*number_of_wind_turbine)).toFixed(4)+ " AUD";
        document.getElementById("ROI").innerHTML = "ROI: " + ((((wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000-71.11*area_value))*year-Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value-(equipment_cost*number_of_wind_turbine))*100/(Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value+(equipment_cost*number_of_wind_turbine))).toFixed(4)+ "%";
        }


          
      function getNum() {
        if (document.getElementById("cost_c").value==""){document.getElementById("cost_c").value=45.74; cost_value=45.74}
        if (document.getElementById("cost_c").value==""){document.getElementById("cost_c").value=panel_capacity*0.4;
      cost_value=panel_capacity*0.4;}
        // TBD panel capacity
        if (show_mode==1){
        cost_value=document.getElementById("cost_c").value;
          poe=document.getElementById("poe_e").value;
          year=document.getElementById("year_y").value;
          efficiency=document.getElementById("effi").value;
          radius_of_wind_turbine=document.getElementById("rad_r").value;
          number_of_wind_turbine=document.getElementById("num_wind_turbine").value;
          
      } else{
        cost_value=document.getElementById("cost_c").value;
          area_value=document.getElementById("area_a").value;
          poe=document.getElementById("poe_e").value;
          year=document.getElementById("year_y").value;
          efficiency=document.getElementById("effi").value;
          panel_capacity=document.getElementById("sp_ca").value;
      }
        if (drawselection==2||drawselection==0){
          
    fetch('/calculate_wind_power_density', {
    // Specify the method
    method: 'POST',

    // A JSON payload
    body: JSON.stringify({
        "lon": calculationpoint[0],
        "lat": calculationpoint[1],
        "ef" : efficiency,
        "area" : area_value,
    }),
    headers: { 'Content-type': 'application/json' }
    }).then(function (response) {
        return response.text();
    }).then(function (text) {
      wind_e = parseFloat(text.split("Wh per")[0].slice(6));
      solar_e = parseFloat(text.split("Solar: ")[1].split("kWh")[0])
      
        view.popup.open({
        title:  "Latitude: "+ Math.round(calculationpoint[1] * 100000)/100000 + ", Longitude" + Math.round(calculationpoint[0] * 100000)/100000,
        content: "Solar: "+solar_e +" Kwh for "+area_value+" M^2 Wind:"+wind_e+" W/M^2 for "+number_of_wind_turbine+" wind turbine size of "+(Math.PI*radius_of_wind_turbine*radius_of_wind_turbine)+" M^2",
        location: calculationpoint
        });
      if (show_mode ==1 ){
          document.getElementById("energy_show").innerHTML = "Annual wind energy output: " + (wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 /1000).toFixed(4)+ " KWh";
          document.getElementById("Annual_profit").innerHTML = "Annual profit: " + (wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000).toFixed(4)+ " AUD";
          document.getElementById("Net_profit").innerHTML = "Net profit: " + (((wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000-71.11*area_value))*year-Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value-(equipment_cost*number_of_wind_turbine)).toFixed(4)+ " AUD";
          document.getElementById("ROI").innerHTML = "ROI: " + ((((wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000-71.11*area_value))*year-Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value-(equipment_cost*number_of_wind_turbine))*100/(Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value+(equipment_cost*number_of_wind_turbine))).toFixed(4)+ "%";
        }else{
          document.getElementById("energy_show").innerHTML = "Annual Solar energy output: " + (solar_e  * 365*panel_capacity/1000).toFixed(4)+ " Kwh";
          document.getElementById("Annual_profit").innerHTML = "Annual profit: " + (solar_e* 365*panel_capacity*poe/1000).toFixed(4)+ " AUD";
          document.getElementById("Net_profit").innerHTML = "Net profit: " + ((solar_e* 365*panel_capacity*poe/1000-8*area_value)*year-cost_value*area_value).toFixed(4)+ " AUD";
          document.getElementById("ROI").innerHTML = "ROI: " + (((solar_e* 365*panel_capacity*poe/1000-8*area_value)*year-cost_value*area_value)*100/(cost_value*area_value)).toFixed(4)+ "%";
        }
    });
        }else if (drawselection==1){
          fetch('/calculate_wind_power_density', {
    // Specify the method
    method: 'POST',
    
    // A JSON payload
    body: JSON.stringify({
        "lon": calculationpoint.longitude,
        "lat": calculationpoint.latitude,
        "ef" : efficiency,
        "area" : area_value,
    }),
    headers: { 'Content-type': 'application/json' }
    }).then(function (response) {
        return response.text();
    }).then(function (text) {
      wind_e = parseFloat(text.split("Wh")[0].slice(6));
      solar_e = parseFloat(text.split("Solar: ")[1].split("kWh")[0])
      view.popup.open({
        title:  "Latitude: "+ Math.round(calculationpoint.latitude * 100000)/100000 + ", Longitude" + Math.round(calculationpoint.longitude * 100000)/100000,
        content: "Solar: "+solar_e +" Kwh for "+area_value+" M^2 Wind:"+wind_e+" W/M^2 for "+number_of_wind_turbine+" wind turbine size of "+(Math.PI*radius_of_wind_turbine*radius_of_wind_turbine)+" M^2",
        location: calculationpoint
        });

      if (show_mode ==1 ){
          document.getElementById("energy_show").innerHTML = "Annual wind energy output: " + (wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 /1000).toFixed(4)+ " KWh";
          document.getElementById("Annual_profit").innerHTML = "Annual profit: " + (wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000).toFixed(4)+ " AUD";
          document.getElementById("Net_profit").innerHTML = "Net profit: " + (((wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000-71.11*area_value))*year-Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value-(equipment_cost*number_of_wind_turbine)).toFixed(4)+ " AUD";
          document.getElementById("ROI").innerHTML = "ROI: " + ((((wind_e * Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine* 365 *poe/1000-71.11*area_value))*year-Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value-(equipment_cost*number_of_wind_turbine))*100/(Math.PI*radius_of_wind_turbine*radius_of_wind_turbine*number_of_wind_turbine*cost_value+(equipment_cost*number_of_wind_turbine))).toFixed(4)+ "%";
        }else{
          document.getElementById("energy_show").innerHTML = "Annual Solar energy output: " + (solar_e  * 365*panel_capacity/1000).toFixed(4)+ " Kwh";
          document.getElementById("Annual_profit").innerHTML = "Annual profit: " + (solar_e* 365*panel_capacity*poe/1000).toFixed(4)+ " AUD";
          document.getElementById("Net_profit").innerHTML = "Net profit: " + ((solar_e* 365*panel_capacity*poe/1000-8*area_value)*year-cost_value*area_value).toFixed(4)+ " AUD";
          document.getElementById("ROI").innerHTML = "ROI: " + (((solar_e* 365*panel_capacity*poe/1000-8*area_value)*year-cost_value*area_value)*100/(cost_value*area_value)).toFixed(4)+ "%";
        }
    });
        }
      }


      function change_to_solar() {
        // Get the checkbox
        var checkBox = document.getElementById("solar_button");
        // If the checkbox is checked, display the layer
        if (checkBox.checked == true){
          solar_layer.visible = true;
        } else {
          solar_layer.visible = false;
        }
      }

      function change_to_wind(){
        // Get the checkbox
        var checkBox = document.getElementById("wind_button");
        // If the checkbox is checked, display the layer
        if (checkBox.checked == true){
          wind_layer.visible = true;
        } else {
          wind_layer.visible = false;
        }
      }

      function change_to_water(){
        // Get the checkbox
        var checkBox = document.getElementById("water_button");
        // If the checkbox is checked, display the layer
        if (checkBox.checked == true){
          water_layer.visible = true;
        } else {
          water_layer.visible = false;
        }
      }

      function change_to_energy(){
        // Get the checkbox
        var checkBox = document.getElementById("energy_button");
        // If the checkbox is checked, display the layer
        if (checkBox.checked == true){
          energy_layer.visible = true;
        } else {
          energy_layer.visible = false;
        }
      }

      function change_to_hydro(){
        // Get the checkbox
        var checkBox = document.getElementById("hydro_button");
        // If the checkbox is checked, display the layer
        if (checkBox.checked == true){
          hydro_layer.visible = true;
        } else {
          hydro_layer.visible = false;
        }
      }

    </script>




  
</body>
</html>
