<!DOCTYPE html>
<html lang='en'>

<head>
  <title>ENERGY STORAGE</title>
  <style> 
   body { 
        background-attachment:fixed;
        background-image:url('src/bg.jpg');}
  
     </style>


<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>

<link rel="stylesheet" type="text/css" href="main.css">
<link href='https://api.mapbox.com/mapbox-assembly/mbx/v0.18.0/assembly.min.css' rel='stylesheet'>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet' />

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>

</head>
<body>

 
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css' type='text/css' />
  <div id='map' >
     <div class="topnav">
             <ul>
              <li> <a href="{{ url_for('index') }}">Home</a> </li>
              <li> <a class="active" href="{{ url_for('news') }}">News</a> </li>
              <li> <a  href="{{ url_for('contact') }}">Contact</a></li>
              <li> <a  href="{{ url_for('about') }}">About</a></li>
             </ul> 
       </div>
     </div>    
  
</body>


<html>


