.topnav {
  font-family: Arial, Helvetica, sans-serif; 
  overflow: hidden;
  background-color: #333;
  font-size:20px;
  margin-top: 120px;
  right:10px;
  height: 60px;
  width:110vw ;
  position: fixed;
  z-index: 1;
  top: -130px;
  margin-right: -11vw;
  padding: 10px;
  }
  .topnav ul{
  list-style-type: none;}
  
  
  .topnav a {
  text-decoration: none;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 35px;
  font-size: 30px;
  }
  .topnav a:hover {
  background-color: #ddd;
  color: black;
  }
  .topnav a.active {
  background-color: #4CAF50;
  color: white;
  }
  
  